:root {
    --first-color:white;
    --third-color:#031061;

}
.lightmode {
    --first-color : black;
    --third-color:wheat ;
}

body {
    font-family: 'roboto', sans-serif;
    background-color: var(--third-color);
}
header {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 20px;
}

.ul-navbar {
    display :flex;

}
.li-navbar {
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
    list-style-type:none;
    padding :20px;
    margin: 5px;
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.58);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.58);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.58);
}
h2 {
    margin: auto;
    width: 25%;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    list-style-type: none;
    padding :10px;
    color: black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.tentang {
    column-width: 1200px;
}
.penjelasan {
    border: 3px solid white;
    margin-left: 200px;
    height: 180px;
    width: 500px;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--third-color);
    color: var(--first-color);
    text-align: justify;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
figure {
    margin-left: 120px;
    width: 650px;
    text-align: center;
    padding: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.tabel {
    padding: 50px;
    border-spacing: 2; 
    border-collapse: collapse; 
    background:white;    
    overflow:hidden;
    border-radius:30px;
    max-width:1000px; 
    width:70%;
    margin:0 auto;
    position:relative;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
thead tr{
    height: 40px;
    color: var(--first-color);
    background: var(--third-color) ;
}
tbody tr        { 
    height:38px; 
    border-bottom:4px solid #E3F1D5 ;
    padding: 8px;
}
th {
    text-align: center;
}
td {
    padding: 10px;
}
footer {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align:center;
}
.form {
    margin: auto;
    width: 25%;
    text-align: left;
    background-color: var(--third-color);
    border: 3px solid white;
    border-radius: 15px;
    padding :10px;
    color: black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@media screen and (min-width: 1200px) {
    .li-navbar {
        padding :20px;
        margin: 5px;
    }
    .tentang {
        column-width: 500px;
    }
    .penjelasan { 
        margin-left: 50px;
        height: 150px;
        width: 550px;
    }
    figure {
        margin-left: 20px;
    }
    .tabel {
        width: 100%;
    }
    .form {
        width: 20%;
    }
    thead tr{
        height: 40px;

    }
    tbody tr        { 
        height: 48px; 
    }
}